label {
	font-size: 16px;
	width: 120px;
	display: block;
	text-align: right;
	margin: 20px 10px 8px 0px;
}

select {
	width: 160px;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 16px;
}

input {
	width: 150px;
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	margin-right: 5px;
	font-size: 16px;
}

.longInput {
	width: 176px;
}

#email {
	width: 315px;
}

#areaCode, #centralOfficeCode {
	width: 35px;
}

#stationNumber{
	width: 45px;
}

.error{
	color:red;
}

.save {
	font-weight: bold;
	width: 130px;
	padding: 5px 10px;
	margin-top: 30px;
	background: #cccccc;
}

#employeeContent {
	margin: 20px 0px 0px 0px;
	padding-bottom: 20px;
	width: 100%;
	background: #f9f9f9;
}

table {
	border-style: none;
	width: 60%;
}

tr:nth-child(even) {
	background: #f9f9f9
}

tr:nth-child(odd) {
	background: #f9f9f9
}

tr {
	border-style: none;
	text-align: left;
}

#back-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}